/* src/pages/authh/Auth.css */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 20px;
}

.auth-nav {
  display: flex;
  margin-bottom: 20px;
}

.auth-nav__link {
  margin: 0 15px;
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.auth-nav__link.active {
  border-bottom: 2px solid var(--accent);
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.auth-form label {
  margin-bottom: 5px;
}

.auth-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.auth-btn:hover {
  background-color: var(--accent);
}

.toggle-text {
  margin-top: 15px;
  text-align: center;
}

.toggle-link {
  color: var(--accent);
  cursor: pointer;
}

.toggle-link:hover {
  text-decoration: underline;
}

.additional-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additional-links a {
  margin: 5px 0;
  text-decoration: none;
  color: var(--accent);
}
